body{
    width:70%;
    margin:0 auto;
    background-color:lightgoldenrodyellow;
}
.container{
    display: grid;
    grid-template-columns: 100px 400px 100px;
    grid-template-rows: 200px 500px 100px;
    justify-self: center;
    align-self: center;
    justify-content: center;
    /* align-content: flex-start; */
    align-items: center;
    gap: 10px;
}

.item{
    background-color: aqua;
}